* {
    box-sizing: border-box;
}
body {
    background: #464f54;
    position: relative;
}

.container {
    
    background: #464f54;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    
}
.title {
    width: 950px;
    height: 185px;
    position: fixed;
    top: 50px;
    left: 450px;
    
    background: black;
    color: white;
}
.tools {
    width: 850px;
    background: #f5bb2c;
    position: absolute;
    
    
}
img:hover{
    color: wheat;
    background: wheat;
}

.article {
    background: white;
    width: 60%;
    height: 1450px;


}

.content {
    margin: 0 30px;
    padding: 30px;
    border-left: solid  #e8eced 2px ;
}

.date {
    text-transform: uppercase;
    color: #8f8f8f;
    margin-top: 100px;
}

.content h1 {
    text-transform: uppercase;
    color: #2a2a2a;
    font-weight: 700;
    font-size: 50px;
    margin: 30px 0 5px;
}

.content h2 {
    color: #8f8f8f;
    font-size: 24px;
}

.content p {
    font-size: 18px;
    margin: 30px 0;
}





.title input {
    background: black;
    color: white;
    border: none;
}

